[submodule "strobe-tuner"]
	path = strobe-tuner
	url = https://github.com/cactorium/strobetuner-js
  branch = master
[submodule "resume"]
	path = resume
	url = https://github.com/cactorium/resume
[submodule "wordle-solver"]
	path = wordle-solver
	url = https://git.threefortiethofonehamster.com/kelvin/wordle-solver.git
